html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background-color:Black;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

section {
    padding: 40px 20px;
}

h2 {
    color: black;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.service-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

footer {
    background-color: Black;
    color: white;
    text-align: center;
    padding: 10px 0;
}